In [2]:
import pandas as pd

df=pd.read_csv(r'C:\Users\pwals\OneDrive\Desktop\PyBank\Resources\budget_data.csv')
print(df)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [37]:
df['Profit/Losses'].describe()
tk=df.describe(include='all')
print(tk)
first=df['Date'].count()
print(first)
second=df['Profit/Losses'].sum()
print(second)
third=df['Profit/Losses'].mean()
print(third)
fourth=df['Profit/Losses'].max()
print(fourth)
fifth=df['Profit/Losses'].min()
print(fifth)

            Date  Profit/Losses
count         86   8.600000e+01
unique        86            NaN
top     Jan-2010            NaN
freq           1            NaN
mean         NaN   4.463090e+05
std          NaN   5.363579e+05
min          NaN  -1.196225e+06
25%          NaN   1.821620e+05
50%          NaN   5.703280e+05
75%          NaN   7.952262e+05
max          NaN   1.170593e+06
86
38382578
446309.0465116279
1170593
-1196225

In [41]:
menudf=pd.read_csv(r'C:\Users\pwals\OneDrive\Desktop\PyRamen\Resources\menu_data.csv')
print(menudf)

                                              item    category  \
0                                          edamame  appetizers
1                                      house salad  appetizers
2                          cucumber sunomono salad  appetizers
3                     hiyashi wakame seaweed salad  appetizers
4                                    agedashi tofu  appetizers
5                                   hiyayakko tofu  appetizers
6                                   pork floss bao  appetizers
7                                       kakuni bao  appetizers
8                      edamame fried gyoza (vegan)  appetizers
9                                      fried gyoza  appetizers
10                                        takoyaki  appetizers
11                             rock shrimp tempura  appetizers
12                         soft-shell crab tempura  appetizers
13                            ebi katsu shrimp bao  appetizers
14                                    nagomi shoyu      entree
15                                      shio ramen      entree
16                                spicy miso ramen      entree
17                           vegetarian spicy miso      entree
18                                 miso crab ramen      entree
19                      soft-shell miso crab ramen      entree
20                               tori paitan ramen      entree
21                                  tonkotsu ramen      entree
22                     burnt garlic tonkotsu ramen      entree
23  vegetarian curry + king trumpet mushroom ramen      entree
24                            truffle butter ramen      entree
25                                       green tea      drinks
26                                            coke      drinks
27                          black sesame ice cream    desserts
28                                matcha ice cream    desserts
29                           mango mochi ice cream    desserts
30                      strawberry mochi ice cream    desserts
31                       black sesame creme brulee    desserts

                                          description  price  cost
0                    boiled soybeans, maldon sea salt    4.0     1
1   mixed greens, cherry tomatoes, cucumber, house...    4.0     2
2   cucumber, ponzu dressing, pickled ginger sprou...    5.0     2
3   sweet soy-marinated wakame seaweed threads, pi...    5.0     2
4   tempura battered tofu, katsuobushi, tsuyu brot...    5.0     2
5   chilled soft tofu, house shoyu, katsuobushi, g...    5.0     2
6   two steamed buns, minced lean slow braised nim...    4.0     2
7   two steamed buns, chopped fatty slow braised n...    6.0     3
8   six crispy fried edamame and cabbage pot stick...    6.0     3
9   six cripsy fried pork and vegetable pot sticke...    6.0     6
10  six octopus-filled fried fritters, kewpie mayo...    6.0     3
11  deep fried tempura battered rock shrimp, srira...    6.0     3
12  single deep fried soft-shell crab, tsuyu dippi...    6.0     3
13  two steamed buns, panko-crusted fried shrimp p...    6.0     3
14  shoyu seasoned clear double stock (organic chi...   11.0     5
15  sea salt seasoned clear double stock (organic ...   11.0     5
16  house togarashi miso blend + niman ranch pork ...   12.0     5
17  house togarashi miso blend + vegan dashi; temp...   12.0     5
18  house miso crab blend + vegan dashi; slow brai...   12.0     6
19  house miso crab blend + vegan dashi; fried who...   14.0     7
20  rich, shoyu seasoned double stock (organic chi...   13.0     6
21  rich, shoyi seasoned niman ranch pork bone sto...   13.0     6
22  rich, shoyi and burnt garlic seasoned niman ra...   14.0     6
23  house curry blend + vegan dashi; fried king tr...   13.0     7
24  rich, shoyu seasoned niman ranch prok bone sto...   14.0     7
25                                          green tea    2.5     1
26                                     Coca Cola soda    2.0     1
27  house-made black sesame ice cream, valrhona ch...    5.0     2
28  house-made matcha ice cream, white chocolate p...    5.0     2
29  two rice-cake bonbons filled with strawberry i...    5.0     2
30  two rice-cake bonbons filled with strawberry i...    5.0     2
31  house made black sesame infused creme brulee; ...    6.0     3

In [42]:
salesdf=pd.read_csv(r'C:\Users\pwals\OneDrive\Desktop\PyRamen\Resources\sales_data.csv')
print(salesdf)

       Line_Item_ID        Date  Credit_Card_Number  Quantity  \
0                 1  01-01-2017    7437926611570799         1
1                 2  01-01-2017    7437926611570799         1
2                 3  01-01-2017    8421920068932819         3
3                 4  01-01-2017    8421920068932819         3
4                 5  01-01-2017    4787310681569648         1
...             ...         ...                 ...       ...
74119         74120  12-31-2018    1697055332228941         4
74120         74121  12-31-2018    6800009643487106         1
74121         74122  12-31-2018    6800009643487106         1
74122         74123  12-31-2018    5981057609583653         2
74123         74124  12-31-2018    5981057609583653         2

                   Menu_Item
0           spicy miso ramen
1           spicy miso ramen
2          tori paitan ramen
3          tori paitan ramen
4       truffle butter ramen
...                      ...
74119         tonkotsu ramen
74120  vegetarian spicy miso
74121  vegetarian spicy miso
74122       spicy miso ramen
74123       spicy miso ramen

[74124 rows x 5 columns]

In [47]:
pk=menudf.describe(include='all')
print(pk)

Xk=salesdf.describe(include='all')
print(Xk)

           item    category  \
count        32          32
unique       32           4
top     edamame  appetizers
freq          1          14
mean        NaN         NaN
std         NaN         NaN
min         NaN         NaN
25%         NaN         NaN
50%         NaN         NaN
75%         NaN         NaN
max         NaN         NaN

                                              description      price  \
count                                                  32  32.000000
unique                                                 31        NaN
top     two rice-cake bonbons filled with strawberry i...        NaN
freq                                                    2        NaN
mean                                                  NaN   7.609375
std                                                   NaN   3.862003
min                                                   NaN   2.000000
25%                                                   NaN   5.000000
50%                                                   NaN   6.000000
75%                                                   NaN  12.000000
max                                                   NaN  14.000000

             cost
count   32.000000
unique        NaN
top           NaN
freq          NaN
mean     3.593750
std      1.965171
min      1.000000
25%      2.000000
50%      3.000000
75%      5.250000
max      7.000000
        Line_Item_ID        Date  Credit_Card_Number      Quantity  \
count   74124.000000       74124        7.412400e+04  74124.000000
unique           NaN         724                 NaN           NaN
top              NaN  10-18-2018                 NaN           NaN
freq             NaN         198                 NaN           NaN
mean    37062.500000         NaN        4.987993e+15      1.350521
std     21397.900014         NaN        2.883384e+15      0.789305
min         1.000000         NaN        1.637593e+11      1.000000
25%     18531.750000         NaN        2.498660e+15      1.000000
50%     37062.500000         NaN        4.993348e+15      1.000000
75%     55593.250000         NaN        7.468494e+15      1.000000
max     74124.000000         NaN        9.999826e+15      4.000000

                    Menu_Item
count                   74124
unique                     11
top     vegetarian spicy miso
freq                     6822
mean                      NaN
std                       NaN
min                       NaN
25%                       NaN
50%                       NaN
75%                       NaN
max                       NaN

In [ ]:
while salesdf['Menu_Item'].count()!=0:
    salesdf['Revenue']=menudf['price']
    salesdf['COGS']=menudf['cost']
    salesdf['Profit']=menudf['price']-menudf['cost']
print(salesdf)